* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: #310D20;
  font-family: "Spectral";
}


.main {
  height: 100%;
  width: 80%;
  margin-left: 300px;
  padding: 50px;

  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 300px 300px 300px;
  column-gap: 100px;
  row-gap: 100px;
}


.sidebar {
  height: 100%;
  width: 15%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  /*background-color: #264653;*/
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, #212431 50%, #264653 50%);
  -webkit-transition: background-position .5s;
  -moz-transition: background-position .5s;
  transition: background-position .5s;
  overflow-x: hidden;
  overflow-x: hidden;
  padding-top 20px;
  opacity: .5;
}
.sidebar:hover {
    background-position: 0 -100%;
}
.sidebar div {
  padding: 20px;
  color: #B26C7B;
}
.sidebar hr {
  border: 1px solid #F9F5C8;
}


#skills {
  list-style-type: none;
  border: 2px;
}
#skills>li {
  padding: 10px;
}

#skill-bar-1, #skill-bar-2, #skill-bar-3, #skill-bar-4, #skill-bar-5 {
  background-color: #DDE9D8;
  border-radius: 13px;
  padding: 3px;
  box-shadow: 5px 5px 4px 5px #0D181C;
}
#skill-bar-1>div {
  background-color: #B26C7B;
  width: 20%;
  height: 10px;
  border-radius: 10px;
  padding: 3px;
}#skill-bar-2>div {
  background-color: #B26C7B;
  width: 40%;
  height: 10px;
  border-radius: 10px;
  padding: 3px;
}#skill-bar-3>div {
  background-color: #B26C7B;
  width: 60%;
  height: 10px;
  border-radius: 10px;
  padding: 3px;
}#skill-bar-4>div {
  background-color: #B26C7B;
  width: 80%;
  height: 10px;
  border-radius: 10px;
  padding: 3px;
}#skill-bar-5>div {
  background-color: #B26C7B;
  width: 97%;
  height: 10px;
  border-radius: 10px;
  padding: 3px;
}

.card {
  perspective: 150rem;
  position: relative;
  height: 300px;
  width: 300px;
  box-shadow: none;
  background: none;
}

.card-side {
  height: 300px;
  border-radius: 15px;
  transition: all 0.8s ease;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  padding: 2rem;
  width: 80%;
  color: white;
}
.card-side.back {
  transform: rotateY(-180deg);
  background-color: #E6AACE;
  background-image: linear-gradient(43deg,
  #E6AACE 0%,
  #869EC1 46%,
  #E6AACE 100%);
}
.card-side.front {
  background-color: #1A3038;
  background-image: linear-gradient(
    43deg,
    #1A3038 0%,
    #B26C7B 46%,
    #336070 100%
    );
}
.card:hover .card-side.front {
  transform: rotateY(180deg);
}

.card:hover .card-side.back {
  transform: rotateY(0deg);
}
